<html>
	    <head>
		            <title>Django Girls blog</title>
		        </head>
			    <body       <div>
					                <h1><a href="">Django Girls Blog</a></h1>
							        </div>

								        <div>
										            <p>published: 14.06.2014, 12:14</p>
											                <h2><a hrf="">My first post</a></h2>            <p>Aenean eu leo quam. Pellentesque ornare se lacinia quam vnenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursu commodo, torto mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
														        </div>

															        <div>
																	            <p>published: 14.06.2014, 12:14</p>
																		                <h2><a href="">My second post</a></h2>
																				            <p>Aenean eu eo quam. Pellentesque ornreem lacina quam venenatis vestibulum. Donec id elit non mi porta gravid at eget metus. Fusce dapibus, tellu ac cursus commodo, tortor mauris codimentum nibh, ut f.</p>
																					            <div>
																							        </body>
</html>
